.Layout{
    position: relative;
    display:flex;
    flex-flow: row;
    justify-content:flex-start;
}

.Layout > .Content{
    flex: 1;
}

.Layout > .SideSliders{
    /* Position Property*/
    position: absolute;
    right: 0px;
    width: 10%;

    /* Border Property*/
    border: 1px solid black;
    border-top: none;
    border-right: none;

    /*Display Property*/
    display: flex;
    flex-flow: column;
    flex: 2;
   
    background-color: lightgrey;
    /* Size Property*/
    height:100vh;
}